# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vssscc
*.vspscc
*.dbmdl
*.pdb
*.cache
*.log
*.sdf
*.opensdf
*.VC.db

# VS Code
.vscode/
.history/

# Others
TestResults/
*.ncrunch*
*.localhistory
*.DS_Store
*.idea/
*.sln.ide
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.orig
*.swo
*.swp
*.tmp
*.bak
*.old
*.pidb
*.svd
*.userprefs
